body {
    margin: 0;
    background-color: mistyrose;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-box {
    /* background-color: lightgreen; */
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.game-tile {
    background-color: lightgreen;
    width: 30px;
    height: 30px;
    border-right: 1px dotted gray;
    border-bottom: 1px dotted gray;
}

.game-piece {
    width: 30px;
    height: 30px;
    background-color: indianred;
}