body {
    background: #181818;
    color: #fff;
    margin:0; /*wtf is this auto margin lmao*/
    font-family: arial;
    overflow:hidden;
}

.header-container {
    background: #202020;
    display:flex;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 5vh;
    align-items: center;
    position:sticky;
    top:0;
}

.header-item {
    flex:1;
}

.header-menu {
    display:flex;
    justify-content: flex-end;
}

.header-menu-item {
    padding-right: 1vw;
}

.header-burger-logo {
    display:flex;
    justify-content: flex-start;
}

.header-burger-logo-item {
    padding-left: 1vw;
}

.logo {
    margin-top: 1vh;
    padding-left: 1vw;
}

.search-form {
    display:flex;
    align-items: center;
}

.search-bar {
    background: #141414;
    color: #fff;
    border: 0.1px solid #303030;
    border-radius: 2px;
    min-height: 3vh;
    min-width: 30vw;
    text-indent: 10px;
}

.search-btn {
    background: #323232;
    border-radius: 0 2px 2px 0;
    border:none;
    min-width: 3.2vw;
    max-height: 3.4vh;
}

.main-container {
    display:flex;
}

.sidebar {
    background: #202020;
    width: 13vw;
    color: #eee;
    display: flex;
    flex-direction: column;
    height: 95vh;
    overflow-y:scroll;
}

.sidebar-section {
    flex: 1;
    border-bottom: 0.1px solid #303030;
    padding-bottom: 1.5vh;
    padding-top: 10px;
}

.sidebar-section h4 {
    color: #aaa;
    font-size: 14px;
}

.sidebar-section-other {
    padding: 0 20px 10px;
}

.sidebar-title {
    padding: 10px 20px;
    cursor: pointer;
}

.sidebar-title:hover {
    background: #373737;
}

.sidebar-title-selected {
    background: #373737;
}

.sidebar-title-selected:hover {
    background: #555;
    color: #fff;
}

.sidebar-settings {
    padding: 10px 0;
}

.feed {
    width: 87vw;
    display: flex;
    flex-direction: column;
}

.feed-chips {
    background: #202020;
    display:flex;
    border-top: 0.1px solid #303030;
    border-bottom: 0.1px solid #303030;
    min-height: 4vh;
    align-items: center;
    padding-right: 1vw;
    padding-left: 1vw;
    position:sticky;
    top:6vh;
}

.feed-chip {
    font-size: 15px;
    background: #323232;
    border: 0.1px solid #444;
    border-radius: 50px;
    text-align: center;
    margin: 11px 6px;
    max-width: 20rem;
    padding:7px 12px;
    white-space: nowrap;
}


.feed-chip:hover {
    background: #444;
    cursor: pointer;
}

.feed-chip-selected {
    font-size: 15px;
    background: #fff;
    color: #323232;
    border-radius: 50px;
    text-align: center;
    margin: 11px 6px;
    max-width: 20rem;
    padding:7px 12px;
    white-space: nowrap;
}

.feed-chip-selected:hover {
    background: #ddd;
    cursor: pointer;
}

.chip-overflow {
    flex: 1;
    font-size: 12px;
}

.feed-content {
    height: 89vh;
    overflow-y:scroll;
}

.feed-container {
    margin: 20px 100px;
    /* border: 1px solid orange; */
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    row-gap: 40px;
    column-gap: 5px;
    padding-bottom: 50px;
    border-bottom: 3px solid #444;
}

.feed-title {
    margin-left: 100px;
}

.feed-item {
    width: 350px;
    height: 300px;
    border: 1px solid pink;
}